//COLORS PRIMARY
$color-primary-Violet: hsl(257, 40%, 49%);
$color-primary-Soft-Magenta: hsl(300, 69%, 71%);
$color-primary-Soft-Magenta: hsl(300, 69%, 71%);
$color-primary-white: hsl(0, 0%, 100%);

//FONT VARIABLES
$font-primary: 'OpenSans', sans-serif;
$font-display: 'Poppins', sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  border: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px 10px/16px = 62.5%
}

body {
  font-family: $font-primary;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3;
}
