//COLORS PRIMARY
$color-primary-Violet: hsl(257, 40%, 49%);
$color-primary-Soft-Magenta: hsl(300, 69%, 71%);
$color-primary-Soft-Magenta: hsl(300, 69%, 71%);
$color-primary-white: hsl(0, 0%, 100%);

//FONT VARIABLES
$font-primary: 'OpenSans', sans-serif;
$font-display: 'Poppins', sans-serif;
