.content {
  height: 100vh;
  &__photo {
    display: block;
  }

  &__items {
    display: flex;
    margin-top: 8rem;
    justify-content: center;
    align-items: center;
  }

  &__detail {
    margin: 5rem 1rem 0 7rem;
    color: $color-primary-white;
  }

  &__text {
    font-size: 1.7rem;
    line-height: 1.6;
    margin-bottom: 5rem;
  }

  &__cta {
    text-decoration: none;
    background: $color-primary-white;
    font-size: 1.8rem;
    font-family: $font-display;
    padding: 1.7rem 7rem;
    border-radius: 100px;
    box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.9);

    &:hover {
      background: $color-primary-Soft-Magenta;
      color: $color-primary-white;
    }
  }

  &__social {
    display: flex;
    margin-top: 15rem;
    justify-content: flex-end;
  }
}
