.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
  width: 134rem;
  padding: 4rem;

  background: url(/images/bg-desktop.svg) no-repeat center center;
  background-size: contain;
  background-color: $color-primary-Violet;
}
