/////////////////////////////////////////////////
// MAIN CONTAINER
.main-container {
  max-width: 144rem;
  margin: 0 auto;
  min-height: 100vh;

  background: url(/images/bg-desktop.svg) no-repeat center center;
  background-size: cover;
  background-color: $color-primary-Violet;
}
